# Do not normalize files by default - throws off packwiz
* -text

# Always normalize specific file types
*.ps1 text=auto

# Force eol for specific files/file types
*.sh text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
.gitattributes text eol=lf
.gitignore text eol=lf
.packwizignore text eol=lf
